<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GENZ.AI</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/log1.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body onload="init()">
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary">GENZ.AI</h3>
                </a>
                <div class="navbar-nav w-100">
                    <a href="" class="nav-item nav-link active"><i class="fa fa-table me-2"></i>Summarizer</a>
                    <div class="navbar-nav w-100">
                        <a href="/error" class="nav-item nav-link"><i
                                class="fa fa-keyboard me-2"></i>Paraphraser</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/error" class="dropdown-item">404 Error</a>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="/error" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                                    class="far fa-file-alt me-2"></i>Help</a>
                            <div class="dropdown-menu bg-transparent border-0">
                                <a href="/error" class="dropdown-item">Contact us </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="/error" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="navbar-nav align-items-center ms-auto">
                    <a href="#" class="text text-decoration-none">About us
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-info-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                        </svg></a>
                </div>
            </nav>
            <!-- Navbar End -->
            <!-- Table Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-2">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Summarizer</h6>
                            <div class="form-floating mb-3 text-end">
                                <label class="form-label" for="customRange1">Word Limit</label>
                                <div class="range w-25">
                                    <input type="range" id="range" class="form-range" min="10" max="500"
                                        oninput="num.value = this.value">
                                    <output id="num"></output>
                                </div>
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Drop your text here" id="text"
                                    style="height: 250px;"></textarea>
                                <label for="floatingTextarea">Text needed to be summarized</label>
                            </div> <br>
                            <div class="separator">Or</div>
                            <br>
                            <div class="mb-3">
                                <input class="form-control bg-dark" type="file" id="file">
                            </div>
                            <br>
                            <div class="m-n2">
                                <button class="btn btn-outline-primary w-100 m-2" type="submit" onclick="send()">Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Summarized Data</h6>
                            <div class="form-floating">
                                <!-- SPINNING SQUARES -->
                                <div class="spinner-box" id="loading">
                                    <div class="configure-border-1">
                                        <div class="configure-core"></div>
                                    </div>
                                    <div class="configure-border-2">
                                        <div class="configure-core"></div>
                                    </div>
                                </div>
                                <textarea class="form-control" placeholder="text will be displayed here"
                                    id="text1" style="height: 425px;"></textarea>
                                <label for="floatingTextarea">Your Summarized Text</label>
                            </div> <br>
                            <div class="m-n2 text-end">
                                <button type="button" class="btn btn-outline-light m-2" title="copy">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                        class="bi bi-clipboard" viewBox="0 0 16 16">
                                        <path
                                            d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                                        <path
                                            d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                                    </svg></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Table End -->
                <!-- Footer Start -->
                <div class="container-fluid pt-4 px-4">
                    <div class="bg-secondary rounded-top p-4">
                        <div class="row">
                            <div class="col-12 col-sm-6 text-center text-sm-start">
                                &copy; <a href="#">GENZ.AI</a>, All Right Reserved.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
    </div>
    <script>
        function init() {
            load = document.getElementById('loading')
            load.hidden = true
        }
        async function send() {
            input = document.getElementById('text').value;
            display = document.getElementById('text1');
            range = document.getElementById('range').value
            load = document.getElementById('loading')
            display.hidden = true
            load.hidden = false
            if (document.getElementById('file').files.length == 0) {

                console.log(range)
                count = getCount(input);
                console.log(count)
                max = parseInt((count * range) / 100)
                console.log(max)
                if (max < 80) {
                    max = 81
                }
                const response = await fetch('http://127.0.0.1:5000/predict', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'Connection': 'keep-alive'
                    },
                    body: JSON.stringify({ "text": input, "max_words": max, "min_words": 80 })
                })
                // console.log(await response.json())
                const obj = await response.json()
                load.hidden = true
                display.hidden = false
                console.log(response.status)
                if(obj.status==200){
                console.log(obj.summary)

                display.value = obj.summary;}
                else {
                    console.log("Error providing summary")

                display.value = "There is an error. Error Code:"+obj.status;
                }
            }
            else {
                let file = document.getElementById('file').files[0]
                let formData = new FormData();
                formData.append("file", file);
                const r = await fetch('/upload', { method: "POST", body: formData });
                console.log(r.status)
                const obj = await r.json()
                load.hidden = true
                display.hidden = false
                if(obj.status==200){
                console.log(obj.summary)

                display.value = obj.summary;}
                else {
                    console.log("Error providing summary")

                display.value = "There is an error occured. Error Code:"+obj.status;
                }
            }
        }
        function getCount(str) {
            return str.split(' ').filter(function (num) {
                return num != ''
            }).length;
        }
    </script>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/chart/chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/moment.min.js') }}"></script>
    <script
        src="{{ url_for('static', filename='lib/tempusdominus/js/moment-timezone.min.js') }}lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js') }}"></script>

    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>